body
{
    float: right;
    
    background-color: blue;
}
form
{
    background-color: greenyellow;
    border-style:solid;
    border-color: red;
    border-radius: 30px;
    margin: 20px;
    width: 320px;
}
.one,.two,.three,.pay
{
    text-align: center;
}


